@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#divone{

  margin-left: 200px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 0;

}

#pone
{
  width: 100%;
  padding: 30px;  
}
#mainhead
{
  font-size: 3vmax;
  font-weight: bold;
  margin-left: 450px;
  padding-top: 50px;

  
}